body {
    max-width: 500px;
}

.tickets {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
}

button {
    height: 2.6em;
    margin: 2px;
}

input {
    height: 2em;
    margin: 3px;
}
