html {
    --main-color: #64649e;
    --input-border-color: #9898ff;
    --result-border-color: #a2a2e7;
}

body {
    padding: 0;
    margin:0;
}

h1.app-name {
    background-color: var(--main-color);
    box-shadow: 0 1px 5px 2px #555;
    color: white;
    margin:0;
    padding: 7px;
}

section {
    padding: 0px 7px;
}

button {
    padding: 0.5em 0.3em;
    border-style: none;
    min-width: 3em;
    background-color: var(--main-color);
    color: white;
    font-size: 1em;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: 0.5em 0.3em 0.2em 0.3em;
    border-style: none;
    border-bottom: 1px solid #666;
    margin: 3px;
    min-width: 4em;
    border-bottom: 1px solid var(--input-border-color);
}

.tickets {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
}

.tickets > .ticket-row {
    font-size: 1em;
    padding: 0.5em 0.3em 0.2em 0.3em;
    border-style: none;
    border-bottom: 1px solid #666;
    margin: 3px;
    min-width: 4em;
}

.tickets > button.ticket-row {
    padding: 0.5em 0.3em;
    border-style: none;
    margin: 2px;
}

.tickets > .ticket-header {
    font-weight: bold;
}

.results {
    height: 100%;
    margin: 0;
}

.results > div {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.result {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    border-bottom: 1px solid var(--result-border-color);
}

.result .result-item, .result .result-diff {
    padding: 0.5em 1em;
    text-align: center;
}

.result .result-item {
    border-right: 1px solid var(--result-border-color);
}

.result-item .result-item-val {
    font-size: 0.8em;
}

.result .result-diff {
    justify-content: flex-end;
    border-right: 0;
    vertical-align: middle;
    margin-left: auto;
}

.result-diff .result-diff-label {
    font-size: 0.8em;
}